name: MQTT Weather CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    name: Lint Python Code
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: stations
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install flake8
      - name: Run flake8
        run: flake8 .

  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: lint
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./stations
          file: ./stations/Dockerfile
          push: true
          tags: seyedhashemi/mqtt-weather-station:latest
